@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body,
#root {
  background-color: #f4f5f9;
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
